<div class="medicinal_plants_interested">
    <div class="card mt-3">
        <div class="plants_interested_title d-flex align-items-center">
            <p class="font-20 text-white mb-0 py-2">Dược liệu được quan tâm</p>
        </div>
        <div class="plants_intersted_container bg-main">
            <div class="plants_intersted_item">
                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/bach-benh-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Bách bệnh</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%"
                            src="../../../assets/images/home_page/ca-gai-leo-duoc-lieu-tue-linh2-356x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Cà gai leo</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/giao-co-lam-1-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Giảo cổ lam</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/dia-long-1-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Địa long</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="plants_interested_title d-flex align-items-center">
            <p class="font-20 text-white mb-0 py-2">Dược liệu giàu Vitamin C</p>
        </div>
        <div class="plants_intersted_container bg-main">
            <div class="plants_intersted_item">
                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%"
                            src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Tầm gửi gạo</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/sam-to-nu-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Sâm tố nữ</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/sam-cau-4-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Sâm cau</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/anh-thao-1-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Anh thảo</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="plants_interested_title d-flex align-items-center">
            <p class="font-20 text-white mb-0 py-2">Dược liệu giàu Protien</p>
        </div>
        <div class="plants_intersted_container bg-main">
            <div class="plants_intersted_item">
                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%"
                            src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Tầm gửi gạo</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/sam-to-nu-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Sâm tố nữ</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/sam-cau-4-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Sâm cau</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>

                <a
                    class="row text-decoration-none d-flex align-items-center justify-content-between py-4 bg-main">
                    <div class="col-3">
                        <img width="100%" src="../../../assets/images/home_page/anh-thao-1-360x240.png"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">Anh thảo</p>
                        <p class="text-justify text-limit mb-0">Là một loại thảo dược quý có trong tự nhiên,
                            thường
                            được tìm thấy ở các khu vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với
                            công
                            dụng tăng cường sinh lực và hỗ trợ điều trị các bệnh về xương khớp. Ngoài ra, sâm
                            cau
                            còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức khỏe tổng thể. Loài
                            cây
                            này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
