<div class="medicinal_plants_interested">
    <div class="card mt-3">
        <div class="plants_interested_title d-flex align-items-center">
            <p class="font-20 text-white mb-0 py-2">Dược liệu được quan tâm</p>
        </div>
        <div class="plants_intersted_container bg-main">
            <div class="plants_intersted_item">
                <div *ngFor="let plant of theMostSearchedMedicinalPlantsList" >
                    <a [routerLink]="['/danhsachcaythuoc', plant.id]" class="row text-decoration-none d-flex align-items-center justify-content-between py-3 bg-main">
                        <div class="col-3">
                            <img class="rounded-1" width="100%" height="70px" style="object-fit: cover;" [src]="plant?.images?.[0]?.url" alt="Bách bệnh">
                        </div>
                        <div class="col-9 text-dark">
                            <p class="mb-1 text-bold-600">{{plant.vietnameseName}}</p>
                            <p class="text-justify text-limit mb-0">{{plant.summaryEffect}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="plants_interested_title d-flex align-items-center">
            <p class="font-20 text-white mb-0 py-2">Dược liệu giàu Vitamin C</p>
        </div>
        <div class="plants_intersted_container bg-main">
            <div class="plants_intersted_item" *ngFor="let plant of theRichestVitaminCMedicinalPlantsList">
                <a [routerLink]="['/danhsachcaythuoc', plant.id]" class="row text-decoration-none d-flex align-items-center justify-content-between py-3 bg-main">
                    <div class="col-3">
                        <img class="rounded-1" width="100%"
                            height="70px" style="object-fit: cover;" [src]="plant?.images?.[0]?.url"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">{{plant.vietnameseName}}</p>
                        <p class="text-justify text-limit mb-0">{{[plant.summaryEffect]}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="plants_interested_title d-flex align-items-center">
            <p class="font-20 text-white mb-0 py-2">Dược liệu giàu Protien</p>
        </div>
        <div class="plants_intersted_container bg-main">
            <div class="plants_intersted_item" *ngFor="let plant of theRichestProteinMedicinalPlantsList">
                <a [routerLink]="['/danhsachcaythuoc', plant.id]" class="row text-decoration-none d-flex align-items-center justify-content-between py-3 bg-main">
                    <div class="col-3">
                        <img class="rounded-1" width="100%"
                            height="70px" style="object-fit: cover;" [src]="plant?.images?.[0]?.url"
                            alt="Bách bệnh">
                    </div>
                    <div class="col-9 text-dark">
                        <p class="mb-1 text-bold-600">{{plant.vietnameseName}}</p>
                        <p class="text-justify text-limit mb-0">{{plant.summaryEffect}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>