.nav-bar-container {
    background-color: #CCF9DC;
}

.input-search {
    width: 400px;
}

.nav-items a {
    font-weight: 500;
}

.btn-search {
    background-color: #0e7e36;
    color: #fff;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;

}

.btn-search:hover {
    opacity: 0.9;
}

.nav-link.active {
    color: #0e7e36;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* Smartphone */
@media (max-width: 767px) {
    .input-search {
        width: 230px;
    }

    .input-search-container {
        padding-bottom: 16px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px){
    .input-search-container {
        padding-bottom: 16px;
    }
}

