<!-- Toast sẽ hiển thị ở đây trong 1s, mặc định là top-right -->
<p-toast [life]="1000"></p-toast>
<nav class="navbar navbar-expand-lg nav-bar-container fixed-top py-0">
    <div class="container">
        <a class="navbar-brand">
            <img width="60px" height="60px" style="object-fit: cover;" src="assets/images/home_page/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto nav-items">
                <li class="nav-item ps-lg-2">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Trang chủ</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" [routerLink]="['/tracuu']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Tra cứu dược liệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gioithieu']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Giới
                        thiệu</a>
                </li>
            </ul>
            <form class="d-flex mt-2 mt-lg-0 align-items-center input-search-container">
                <input class="form-control me-2 input-search flex-md-fill" type="text" placeholder="Nhập tên cây thuốc" [(ngModel)]="searchQuery"
                name="searchQuery" (keydown.enter)="onSearch()" required>
                <button class="btn-search" type="button" (click)="onSearch()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Tìm kiếm
                </button>
            </form>
            <div *ngIf="!token" class="dropdown ms-3 admin-option">
                <div class="dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
                <ul class="dropdown-menu py-0" style="font-size: 12px;" >
                  <li><a class="dropdown-item" [routerLink]="['/login']"  style="background-color: rgba(238, 248, 240, 0.5); cursor: pointer;">Đăng nhập trang quản trị</a></li>
                </ul>
              </div>
        </div>
    </div>
</nav>