<app-header />
<div class="container plant-detail-container row mx-auto mb-4">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-6 pt-3">
                <!-- Phần Carousel -->
                <div #carousel id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-inner">
                        <div *ngFor="let img of images; let i = index" class="carousel-item"
                            [class.active]="i === activeIndex">
                            <img width="100%" [src]="img" class="d-block w-100" alt="Image {{ i }}">
                        </div>
                    </div>
                    <button class="carousel-control-prev btn-slider" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next btn-slider" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Phần Thumbnail -->
                <div class="thumbnails mt-2 row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="col-3 px-1" *ngFor="let img of images; let i = index">
                        <img width="100%" [src]="img" class="thumbnail-img" [class.active]="i === activeIndex"
                            (click)="setActiveImage(i)">
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <p class="text-main-color font-20 text-bold-700 text-justify">Cao cẳng bắc bộ</p>
                <p class="text-justify my-4"><b>Tên tiếng Việt:</b> Cao cẳng bắc bộ, Xà bì bắc bộ</p>
                <p class="text-justify mb-4"><b>Họ:</b> Asparagaceae Juss. (Thiên môn đông).</p>
                <p class="text-justify mb-4"><b>Công dụng:</b> Thân rễ dùng trị viêm niệu đạo, lao phổi, ho, khạc ra máu và
                    viêm
                    nhánh phế quản.</p>
                <button class="similarity_search">Tìm cây tương đồng</button>
            </div>
        </div>
        <div class="">
            <div class="divided-section my-4"></div>
            <div class="infor">
                <h6>Mô tả</h6>
                <p class="text-justify mb-3">Cây thân thảo cao 1-1,2 m. Thân cây có lông mềm, có khía dọc thân cây. Lá to,
                    dài,
                    mọc so le, phiến lá chia thuỳ ở gốc, những lá ở ngọn hầu như không chia thuỳ, mặt trên lá màu lục và
                    mặt
                    dưới có lông trắng. Cụm hoa ở trên các nhánh, gồm nhiều hoa hình ống và có màu lam tím. Quả nhẵn và
                    dính với nhau thành vòng, dễ tách khi quả chín. Hạt không có nội nhũ. </p>
                <h6>Nơi sinh sống</h6>
                <p class="text-justify mb-3">Cây mọc ở vùng Carthage và các vùng Địa trung hải, trồng ở Ý và Pháp. Ở Việt
                    nam, actisô
                    được trồng ở Sapa, Tam Đảo, Nghệ An, Hải Hưng, Lâm Đồng. </p>
                <h6>Bộ phận dùng</h6>
                <p class="text-justify mb-3">
                    Toàn cây (lá,
                    thân, rễ, cụm hoa) – Herba Cynarae Scolymi. Người
                    ta thu hái cụm hoa chưa nở làm rau ăn vào tháng 12
                    đến tháng 2. Còn lá cũng được thu hái lúc cây sắp ra
                    hoa hoặc đang có hoa, rọc bỏ sống lá đem phơi khô
                    hay sấy khô.
                </p>
                <h6>Công dụng</h6>
                <p class="text-justify mb-3">
                    Bông Actisô có tính bổ dưỡng khi đã nấu chín, tăng lực, kích thích, làm ăn
                    ngon, bổ gan (tiết mật), trợ tim, lợi tiểu, chống độc, gây tiết sữa cho phụ nữ nuôi con nhỏ. Actisô
                    được
                    biết từ lâu nhờ tác dụng lợi mật do Cynarin, người ta cũng xác định được hỗn hợp các thành phần khác
                    của Actisô, chủ yếu là acid-acool tạo nên hoạt lực lợi mật của Actisô và còn có những tác dụng khác
                    như
                    giảm cholesterol-huyết, bảo vệ gan, làm tăng sự bài niệu. Ở người, Cynarin có tác dụng loại trừ các
                    acid
                    mật làm giảm cholesterol-huyết và lipoprotein.
                    Cây Actisô còn non có thể dùng luộc chín hay nấu canh ăn, những bộ phận thường được dùng
                    làm rau là cụm hoa bao gồm đế hoa mang các hoa, các lông tơ và các lá bắc có phần gốc mềm màu trắng
                    bao xung quanh. Người ta mang về, chẻ nhỏ theo chiều dọc từ 6-8 miếng, rồi đem hầm với xương, thịt
                    để
                    ăn cả cái và nước. Bông Actisô là loại rau cao cấp, khi nấu chín rất dễ tiêu hoá, dùng trị đau gan,
                    giảm
                    đau dạ dày, rất cần cho những người bị bệnh đái tháo đường.
                </p>
                <h6>Cách dùng</h6>
                <p class="text-justify mb-3">
                    Sử dụng Actisô dưới nhiều dạng, có thể dùng tươi hoặc khô hâm uống hay nấu
                    thành cao lỏng, cao mềm; còn có dạng chiết tươi bằng cồn hoặc làm cồn thuốc. Hiện nay trên thị
                    trường
                    có nhiều chế phẩm của Actisô: cao Actisô, trà Actisô, Cynaraphytol viên, thuốc ngọt Cynaraphytol,
                    thuốc
                    nước đóng ống Actisamin v.v...
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <app-sidebar />
    </div>
</div>

<app-footer />