<app-header/>
<div class="container plant-detail-container row mx-auto mb-4">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-6 pt-3">
                <!-- Phần Carousel -->
                <div #carousel id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-inner">
                        <div *ngFor="let img of plantDetail?.images; let i = index" class="carousel-item"
                            [class.active]="i === activeIndex">
                            <img width="100%" height="380px" [src]="img.url" class="d-block w-100" alt="Image {{ i }}" style="object-fit: cover;">
                        </div>
                    </div>
                    <button class="carousel-control-prev btn-slider" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next btn-slider" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Phần Thumbnail -->
                <div class="thumbnails mt-2 row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="col-3 px-1" *ngFor="let img of plantDetail?.images; let i = index">
                        <img width="100%" height="80px" style="object-fit: cover;" [src]="img.url" class="thumbnail-img" [class.active]="i === activeIndex"
                            (click)="setActiveImage(i)">
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3" *ngIf="plantDetail">
                <p class="text-main-color font-20 text-bold-600 text-justify">{{ plantDetail.vietnameseName }}</p>
                <p class="text-justify"><b>Tên khoa học:</b> {{ plantDetail.scientificName }}</p>
                <p class="text-justify"><b>Họ:</b> {{ plantDetail.family?.vietnameseName}} -
                    {{plantDetail.family?.scientificName}}</p>
                <p class="text-justify"><b>Công dụng tóm lượt:</b> {{ plantDetail.summaryEffect }}</p>
                <button class="similarity_search mt-2">Tìm cây tương đồng</button>
            </div>
        </div>
        <div class="" *ngIf="plantDetail">
            <div class="divided-section my-4"></div>
            <div class="infor">
                <div *ngIf="plantDetail.description">
                    <h6>Mô tả</h6>
                    <p class="text-justify mb-3">{{ plantDetail.description }}</p>
                </div>
                <div *ngIf="plantDetail.habitat">
                    <h6>Nơi sinh sống</h6>
                    <p class="text-justify mb-3">{{ plantDetail.habitat }}</p>
                </div>
                <div *ngIf="plantDetail.partUsed">
                    <h6>Bộ phận dùng</h6>
                    <p class="text-justify mb-3">{{ plantDetail.partUsed }}</p>
                </div>
                <div *ngIf="plantDetail.effect">
                    <h6>Công dụng</h6>
                    <p class="text-justify mb-3">{{ plantDetail.effect }}</p>
                </div>
                <div *ngIf="plantDetail.usage">
                    <h6>Cách dùng</h6>
                    <p class="text-justify mb-3">{{ plantDetail.usage }}</p>
                </div>
                <div *ngIf="plantDetail.chemicalComposition">
                    <h6>Thành phần hóa học</h6>
                    <p class="text-justify mb-3">{{ plantDetail.chemicalComposition }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <app-sidebar />
    </div>
</div>

<app-footer/>
