<div class="container introduction-container row mx-auto mb-4">
    <div class="col-lg-8">
        <p class="text-main-color font-20 pt-3">Giới thiệu</p>
        <p class="text-justify text-bold-600 text-italic">Trong bối cảnh hiện đại hóa cùng với sự phát triển mạnh mẽ của
            khoa học công nghệ, việc bảo tồn và truyền tải kiến
            thức
            y học cổ truyền trở nên ngày càng quan trọng. Các tài liệu về y học cổ truyền, đặc biệt là thuốc Đông y,
            được
            ghi chép hàng trăm năm qua, mang giá trị lịch sử và y học vô cùng lớn. Tuy nhiên, việc tiếp cận và tra cứu
            các
            thông tin này vẫn còn gặp nhiều khó khăn. Số hóa tài liệu về thuốc Đông y không chỉ giúp bảo vệ nguồn tri
            thức
            quý báu mà còn mở ra cơ hội mới trong việc truy vấn, khai thác dữ liệu, từ đó hỗ trợ trong quá trình nghiên
            cứu
            và ứng dụng vào thực tế.</p>
        <p class="text-justify">Trong Đông y, các cây thuốc không chỉ được đánh giá dựa trên đặc điểm hình thái mà còn
            dựa trên dược tính, cụ
            thể
            là thành phần hóa học bên trong. Những thành phần này quyết định công dụng chữa bệnh và phương thức sử dụng
            của
            các loại dược liệu. Việc truy vấn các dược liệu có độ tương đồng về dược tính giúp nhà nghiên cứu và người
            dùng
            dễ dàng tìm ra các loại cây thuốc có tác dụng tương tự, mở rộng phạm vi ứng dụng của từng loại cây thuốc.
            Đây
            cũng là nền tảng cho việc phát triển các phương pháp điều trị bệnh dựa trên y học cổ truyền, kết hợp với
            khoa
            học hiện đại.</p>
        <p class="text-justify">Tác phẩm "3033 cây thuốc Đông y" của Thiền Sư Tuệ Tĩnh là một trong những tài liệu quý
            và quan trọng về y học
            cổ
            truyền Việt Nam. Quyển sách này cung cấp kiến thức toàn diện về hơn 3000 loại cây thuốc, bao gồm tên gọi, mô
            tả, thành phần hóa học, công dụng và cách dùng. Đây là một tài nguyên quý báu, cung cấp cơ sở dữ liệu
            khổng lồ cho việc nghiên cứu, truy vấn và phát triển ứng dụng này</p>
        <div class="d-flex justify-content-center my-4">
            <img width="80%" src="../../../assets/images/introduction_page/3033_cay_thuoc_img.jpg" alt="3033 cay thuoc">
        </div>
        <p class="text-justify">Trang web này được xây dựng nhằm hỗ trợ người dùng trong việc tra cứu, tìm kiếm và
            nghiên cứu về các loại cây
            thuốc Đông y dựa trên độ tương đồng về thành phần hóa học. Giao diện của trang web bao gồm ba phần
            chính:</p>
        <ul class="text-justify" style="list-style: none;">
            <li><span class="text-bold-600 text-italic">1. Trang chủ: </span>Tại đây, người dùng có thể xem danh sách
                các cây thuốc được tìm kiếm nhiều nhất, tìm kiếm cây
                thuốc theo loại bệnh hoặc theo thành phần hóa học. Ngoài ra, trang chủ còn giới thiệu một số cây thuốc
                nổi
                bật, giúp người dùng có cái nhìn tổng quan về các loại dược liệu phổ biến và được ưa chuộng.</li>
            <li class="my-3"><span class="text-bold-600 text-italic">2. Trang tra cứu dược liệu:</span> Đây là công cụ
                chính của trang web, cho phép người dùng tìm kiếm các loại cây
                thuốc
                có độ tương đồng về dược tính. Trang này được tích hợp bộ lọc với 10 thành phần hóa học phổ biến nhất,
                giúp
                người dùng dễ dàng lựa chọn và tìm kiếm các loại cây thuốc phù hợp với nhu cầu của mình. Kết quả tìm
                kiếm
                được xử lý thông qua cơ sở dữ liệu vector, đảm bảo độ chính xác cao và khả năng truy vấn nhanh chóng.
            </li>
            <li><span class="text-bold-600 text-italic">3. Trang giới thiệu:</span> Đây là trang mà bạn đang đọc, cung
                cấp thông tin về dự án và mục tiêu của trang web
                trong
                việc hỗ trợ số hóa và phổ biến kiến thức y học cổ truyền.</li>
        </ul>
        <p class="text-justify">Với mong muốn góp phần bảo tồn và phát triển y học cổ truyền, trang web này được xây
            dựng nhằm đem lại giải
            pháp
            tra cứu dược liệu hiệu quả, kết hợp giữa sự uyên thâm của Đông y và công nghệ hiện đại. Chúng tôi hy vọng
            rằng
            nền tảng này sẽ trở thành công cụ hữu ích cho các nhà nghiên cứu, các chuyên gia y tế và cả những người yêu
            thích y học cổ truyền trong việc tìm hiểu và ứng dụng các loại dược liệu vào cuộc sống.
        </p>
    </div>
    <div class="col-lg-4">
        <app-sidebar/>
    </div>
</div>