<app-header/>
<!-- Slider -->
<div class="container silder">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner rounded-3">
            <div class="carousel-item active" [routerLink]="['/danhsachcaythuoc', 242]">
                <img src="assets/images/home_page/banner/banner1.png" alt="Banner1" class="d-block w-100">
            </div>
            <div class="carousel-item" [routerLink]="['/danhsachcaythuoc', 2218]">
                <img src="assets/images/home_page/banner/banner2.png" alt="Banner2" class="d-block w-100">
            </div>
            <div class="carousel-item" [routerLink]="['/danhsachcaythuoc', 1076]">
                <img src="assets/images/home_page/banner/banner3.png" alt="Banner3" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev btn-slider" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next btn-slider" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<!-- Medicinal phants searched a lot -->
<div class="container m_search_container">
    <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU ĐƯỢC TÌM KIẾM NHIỀU NHẤT</p>
    <div class="row">
        <div *ngFor="let plant of theMostSearchedMedicinalPlantsList" class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <a [routerLink]="['/danhsachcaythuoc', plant.id]" class="text-decoration-none" style="cursor: pointer;">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" [src]="plant?.images?.[0]?.url" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">{{plant.vietnameseName}}</p>
            </a>
        </div>
    </div>
</div>

<!-- Medicinal phants based on their uses -->
<div class="container-fluid bg-green">
    <div class="container m_search_container">
        <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU THEO CÔNG DỤNG</p>
        <div class="row">
            <a class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/ho.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ho</p>
            </a>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/caohuyetap.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh cao huyết áp</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/daday.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh dạ dày</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/benhgiunsan.jpg" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh giun sán</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/benhgan.jpg" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh về gan</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/tieuduong.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh tiểu đường</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/phunu.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh phụ nữ</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" src="assets/images/home_page/ngoaida.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ngoài da</p>
            </div>
        </div>
    </div>
</div>

<!-- Medicinal phants based on chemical compositions -->
<div class="container m_search_container">
    <p class="text-center text-main-color mb-3 font-18">MỘT SỐ DƯỢC LIỆU QÚY</p>
    <div class="row">
        <div *ngFor="let plant of displayedRareLevelPlantList" class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <a [routerLink]="['/danhsachcaythuoc', plant.id]" class="text-decoration-none" style="cursor: pointer;">
                <div class="">
                    <img class="rounded-3" width="100%" style="object-fit: cover; height: 160px;" [src]="plant?.images?.[0]?.url" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">{{plant.vietnameseName}}</p>
            </a>
        </div>
    </div>
</div>

<!-- Do you know? -->
<div class="d-flex flex-column align-items-center">
    <div class="divided-section"></div>
    <p class="text-main-color mt-4 font-24">BẠN CÓ BIẾT</p>
</div>

<div class="container-fluid bg-green mt-3">
    <div class="container pb-4 container-do-you-know">
        <div class="row justify-content-between">
            <div class="col-lg-3 d-flex align-items-center justify-content-around">
                <img style="height: 90%;" class="img-do-you-know rounded-3" src="assets/images/home_page/do_you_know/qua_oi.jpg" alt="ảnh">
            </div>
            <div class="col-lg-9 d-flex flex-column ps-lg-4" style="text-align: justify;">
                <p><span style="font-weight: 500; font-size: 20px" class="text-main-color">Quả Ổi<i></i>:</span>
                    Vitamin C trong ổi cao hơn gấp 4 lần lượng vitamin C có trong cam. Chúng giúp cơ thể khoẻ mạnh, tăng cường khả năng hệ miễn dịch, giúp tránh được các mầm mống gây bệnh nhiễm trùng như cảm lạnh, cảm cúm, ho và ngăn ngừa các trường hợp bị nhiễm siêu vi. Có ít chất béo trong ổi nên rất thích hợp cho người giảm cân. Đặc biệt có chất lycopen trong trái ổi ruột đỏ (ổi đào), không chỉ có tác dụng chống những bệnh liên quan tới béo phì mà còn những bệnh khác như giảm bớt nguy cơ bệnh tim mạch và bệnh tiểu đường cấp 1.
                </p>
                <p class="mb-0"><span style="color: rgb(12, 44, 162); font-size: 18px; font-weight: 500;">Công dụng:</span> QUả ổi có vị ngọt, chua, tính bình; có tác dụng lợi thuỷ tiêu thũng, giải độc bài nung. <a [routerLink]="['/danhsachcaythuoc', 1888]" class="btn-see-more">Xem chi tiết</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container pb-4 container-do-you-know">
    <div class="row justify-content-between">
        <div class="col-lg-3 d-flex align-items-center justify-content-around">
            <img style="height: 90%;" class="img-do-you-know rounded-3" src="assets/images/home_page/do_you_know/tia_to.jpg" alt="ảnh">
        </div>
        <div class="col-lg-9 d-flex flex-column ps-lg-4" style="text-align: justify;">
            <p><span style="font-weight: 500; font-size: 20px" class="text-main-color">Tía Tô:</span> Dịch chiết từ hạt nảy mầm của cây tía tô đã được chứng minh là có tác dụng chống đái tháo đường trên mô hình chuột thí nghiệm bị đái tháo đường type 2 thông qua các cơ chế: làm giảm lượng đường huyết bất kỳ, giảm nồng độ triglycerid và nồng độ cholesterols toàn phần trong huyết thanh; làm tăng sự không dung nạp đường và tăng nhạy cảm với insulin; kích hoạt protein kinase hoạt hóa bởi AMP (AMPK) và thông qua đó, ức chế tân tạo đường ở gan. Acid chlorogenic và acid rosmarinic ức chế enzyme Aldose reductase, làm giảm nguy cơ xảy ra các biến chứng đái tháo đường.
            </p>
            <p class="mb-0"><span style="color: rgb(12, 44, 162); font-size: 18px; font-weight: 500;">Công dụng:</span> Tía tô có tác dụng phát tán phong hàn, lý khí khoan hung; giải uất, hoá đờm, an thai, giải độc của cua cá. Cành không có tác dụng phát biểu, chỉ có tác dụng lý khí. <a [routerLink]="['/danhsachcaythuoc', 2648]" class="btn-see-more">Xem chi tiết</a></p>
        </div>
    </div>
</div>

<div class="container-fluid bg-green my-3">
    <div class="container pb-4 container-do-you-know">
        <div class="row justify-content-between">
            <div class="col-lg-3 d-flex align-items-center justify-content-around">
                <img style="height: 90%;" class="img-do-you-know rounded-3" src="assets/images/home_page/do_you_know/bi_do.jpg" alt="ảnh">
            </div>
            <div class="col-lg-9 d-flex flex-column ps-lg-4" style="text-align: justify;">
                <p><span style="font-weight: 500; font-size: 20px" class="text-main-color">Bí Đỏ:</span> Bí đỏ chứa nhiều chất axit glutamine, chất cần thiết cho hoạt động não bộ. Đây là một chất có vai trò quan trọng trong việc trợ giúp phản ứng chuyển hóa ở các tế bào thần kinh và não. Ngoài ra nó còn có tác dụng bồi bổ dây thần kinh. Phụ nữ mang thai ăn bí đỏ sẽ rất tốt cho sự phát triển các tế bào não, tăng cường sức sống, sức khỏe của thai nhi. Chúng còn giúp tăng cường phòng ngừa, điều trị chứng tăng huyết áp, phù và các biến chứng khác khi mang thai.
                </p>
                <p class="mb-0"><span style="color: rgb(12, 44, 162); font-size: 18px; font-weight: 500;">Công dụng:</span> Quả có vị ngọt, tính ấm, có tác dụng bổ dưỡng, làm dịu, giải nhiệt, giải khát, trị ho, nhuận tràng, lợi tiểu. Hạt có vị ngọt, có dầu; có tác dụng tẩy giun sán do tác dụng của các lipoid, không kích thích và không độc; nó cũng có tính làm dịu và giải nhiệt. <a [routerLink]="['/danhsachcaythuoc', 116]" class="btn-see-more">Xem chi tiết</a></p>
            </div>
        </div>
    </div>
</div>
<app-footer/>