<!-- Header -->
<app-header />

<!-- Slider -->
<div class="container silder">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/home_page/banner1.png" alt="Banner1" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/home_page/banner1.png" alt="Banner2" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/home_page/banner1.png" alt="Banner3" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev btn-slider" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next btn-slider" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<!-- Medicinal phants searched a lot -->
<div class="container m_search_container">
    <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU ĐƯỢC TÌM KIẾM NHIỀU NHẤT</p>
    <div class="row">
        <a class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/dia-long-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Địa long</p>
        </a>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/bach-benh-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Mật nhân</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Tầm gửi gạo</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-to-nu-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Sâm tố nữ</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/anh-thao-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Anh thảo</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/giao-co-lam-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Giảo cổ lam</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-cau-4-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Sâm cau</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/ca-gai-leo-duoc-lieu-tue-linh2-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Cà gai leo</p>
        </div>
    </div>
</div>

<!-- Medicinal phants based on their uses -->
<div class="container-fluid bg-green">
    <div class="container m_search_container">
        <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU THEO CÔNG DỤNG</p>
        <div class="row">
            <a class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/ho.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ho</p>
            </a>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/caohuyetap.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh cao huyết áp</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/daday.png"
                        alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh dạ dày</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/giunsan.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh giun sán</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/hohen.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ho hen</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/tieuduong.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh tiểu đường</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/phunu.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh phụ nữ</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/ngoaida.png"
                        alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ngoài da</p>
            </div>
        </div>
    </div>
</div>

<!-- Medicinal phants based on chemical compositions -->
<div class="container m_search_container">
    <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU GIÀU THÀNH PHẦN HÓA HỌC</p>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/dia-long-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Tinh dầu</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/bach-benh-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Protid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Vitamin C</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-to-nu-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Lipid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/anh-thao-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Tanin</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/giao-co-lam-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Glucid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-cau-4-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Alcaloid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/ca-gai-leo-duoc-lieu-tue-linh2-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Caroten</p>
        </div>
    </div>
</div>

<!-- Do you know? -->
<div class="container text-center">
    <div class="divided-section"></div>
    <p>BẠN CÓ BIẾT</p>
</div>

 
<!-- Footer -->