<!-- Header -->
<app-header />

<!-- Slider -->
<div class="container silder">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/home_page/banner1.png" alt="Banner1" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/home_page/banner1.png" alt="Banner2" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/home_page/banner1.png" alt="Banner3" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev btn-slider" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next btn-slider" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<!-- Medicinal phants searched a lot -->
<div class="container m_search_container">
    <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU ĐƯỢC TÌM KIẾM NHIỀU NHẤT</p>
    <div class="row">
        <a class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;" [routerLink]="['/001']">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/dia-long-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Địa long</p>
        </a>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/bach-benh-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Mật nhân</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Tầm gửi gạo</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-to-nu-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Sâm tố nữ</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/anh-thao-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Anh thảo</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/giao-co-lam-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Giảo cổ lam</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-cau-4-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Sâm cau</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/ca-gai-leo-duoc-lieu-tue-linh2-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Cà gai leo</p>
        </div>
    </div>
</div>

<!-- Medicinal phants based on their uses -->
<div class="container-fluid bg-green">
    <div class="container m_search_container">
        <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU THEO CÔNG DỤNG</p>
        <div class="row">
            <a class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/ho.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ho</p>
            </a>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/caohuyetap.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh cao huyết áp</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/daday.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh dạ dày</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/giunsan.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh giun sán</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/hohen.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ho hen</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/tieuduong.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh tiểu đường</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/phunu.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh phụ nữ</p>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="">
                    <img width="100%" src="../../../assets/images/home_page/ngoaida.png" alt="ảnh">
                </div>
                <p class="text-center text-main-color mt-3">Bệnh ngoài da</p>
            </div>
        </div>
    </div>
</div>

<!-- Medicinal phants based on chemical compositions -->
<div class="container m_search_container">
    <p class="text-center text-main-color mb-3 font-18">DƯỢC LIỆU GIÀU THÀNH PHẦN HÓA HỌC</p>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3 text-decoration-none" style="cursor: pointer;">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/dia-long-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Tinh dầu</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/bach-benh-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Protid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Vitamin C</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-to-nu-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Lipid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/anh-thao-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Tanin</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/giao-co-lam-1-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Glucid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/sam-cau-4-360x240.png" alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Alcaloid</p>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="">
                <img width="100%" src="../../../assets/images/home_page/ca-gai-leo-duoc-lieu-tue-linh2-356x240.png"
                    alt="ảnh">
            </div>
            <p class="text-center text-main-color mt-3">Caroten</p>
        </div>
    </div>
</div>

<!-- Do you know? -->
<div class="d-flex flex-column align-items-center">
    <div class="divided-section"></div>
    <p class="text-main-color mt-4 font-18">BẠN CÓ BIẾT</p>
</div>

<div class="container-fluid bg-green">
    <div class="container pb-4 container-do-you-know">
        <p class="text-main-color text-center font-18" style="font-weight: 700;">SÂM CAU</p>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <img class="img-do-you-know" src="../../../assets/images/home_page/sam-cau-4-360x240.png" alt="ảnh">
            </div>
            <div class="col-lg-9 d-flex flex-column" style="text-align: justify;">
                <p><b>Sâm cau:</b> Là một loại thảo dược quý có trong tự nhiên, thường được tìm thấy ở các khu vực núi
                    cao.
                    Với
                    rễ màu vàng óng, sâm cau được biết đến với công dụng tăng cường sinh lực và hỗ trợ điều trị các
                    bệnh
                    về xương khớp. Ngoài ra, sâm cau còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức
                    khỏe
                    tổng thể. Loài cây này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.
                </p>
                <p class=""><b>Công dụng:</b> Sâm cau có các tác dụng bổ thận, điều trị cao huyết áp, chữa tê thấp, tiêu chảy, và
                    tăng
                    cường sinh lý. Rễ cây thường được sắc uống hoặc ngâm rượu để sử dụng. <a href="">Xem thêm</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container pb-4 container-do-you-know">
    <p class="text-main-color text-center font-18" style="font-weight: 700;">TẦM GỬI GẠO</p>
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <img class="img-do-you-know" src="../../../assets/images/home_page/tam-gui-gao-duoc-lieu-tue-linh-356x240.png" alt="ảnh">
        </div>
        <div class="col-lg-9 d-flex flex-column" style="text-align: justify;">
            <p><b>Tầm gửi gạo:</b> Là một loại thảo dược quý có trong tự nhiên, thường được tìm thấy ở các khu
                vực núi cao. Với rễ màu vàng óng, sâm cau được biết đến với công dụng tăng cường sinh lực và hỗ trợ điều
                trị các bệnh về xương khớp. Ngoài ra, sâm cau còn có khả năng kích thích tuần hoàn máu, giúp tăng cường
                sức khỏe tổng thể. Loài cây này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.
            </p>
            <p class=""><b>Công dụng:</b> Sâm cau có các tác dụng bổ thận, điều trị cao huyết áp, chữa tê thấp, tiêu chảy, và tăng cường
                sinh lý. Rễ cây thường được sắc uống hoặc ngâm rượu để sử dụng. <a href="">Xem thêm</a></p>
        </div>
    </div>
</div>

<div class="container-fluid bg-green" style="margin-bottom: 32px;">
    <div class="container pb-4 container-do-you-know">
        <p class="text-main-color text-center font-18" style="font-weight: 700;">SÂM CAU</p>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <img class="img-do-you-know" src="../../../assets/images/home_page/sam-cau-4-360x240.png" alt="ảnh">
            </div>
            <div class="col-lg-9 d-flex flex-column" style="text-align: justify;">
                <p><b>Sâm cau:</b> Là một loại thảo dược quý có trong tự nhiên, thường được tìm thấy ở các khu vực núi
                    cao.
                    Với
                    rễ màu vàng óng, sâm cau được biết đến với công dụng tăng cường sinh lực và hỗ trợ điều trị các
                    bệnh
                    về xương khớp. Ngoài ra, sâm cau còn có khả năng kích thích tuần hoàn máu, giúp tăng cường sức
                    khỏe
                    tổng thể. Loài cây này không chỉ có giá trị dược liệu mà còn được dùng trong y học cổ truyền.
                </p>
                <p class=""><b>Công dụng:</b> Sâm cau có các tác dụng bổ thận, điều trị cao huyết áp, chữa tê thấp, tiêu chảy, và
                    tăng
                    cường sinh lý. Rễ cây thường được sắc uống hoặc ngâm rượu để sử dụng. <a href="">Xem thêm</a></p>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<app-footer />