<footer class="footer">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="row py-4">
            <div class="col-md-6 text-left">
                <p class="mb-1 fw-medium">Email: <a href="mailto:vovanhung2864&#64;gmail.com">vovanhung2864&#64;gmail.com</a></p>
                <p class="fw-medium">Số điện thoại: <a href="tel:+84907604514">0907604514</a></p>
              </div>
              <div class="col-md-6 text-right">
                <ul>
                  <li><a href="#" class="fw-medium">Trang chủ</a></li>
                  <li><a href="#" class="fw-medium">Trang tra cứu dược liệu</a></li>
                  <li><a href="#" class="fw-medium">Trang giới thiệu</a></li>
                </ul>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p class="footer-bottom">Các thông tin trên Website được dựa trên cuốn 3033 CÂY THUỐC ĐÔNG Y (TUỆ TĨNH)</p>
        </div>
      </div>
    </div>
  </footer>
  