<app-header/>
<div class="row" style="margin-top: 45px;">
</div>
<div class="container-lg my-5">
    <div class="row mal-0">
        <div class="col-md-4 col-lg-3 p-0 card h-100 d-none d-md-block"
            style="background-color: #e8f7ed; border: none; box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);">
            <div class="d-flex align-items-center justify-content-center card-header"
                style="background-color: #007429; color: white;">
                <p class="mb-0" style="font-size: 18px;">Tìm kiếm tương đồng</p>
            </div>
            <div class="px-4">
                <p class="mt-3 mb-2" style="font-size: 11px; color: #007429; font-weight: 500;">*Giá trị là số thập phân > 0</p>
                <div class="mb-3 d-flex flex-column gap-2" *ngFor="let key of chemistryKeys">
                    <label [for]="key" style="font-weight: 500;">{{ chemistryLabels[key] }}:</label>
                    <div class="d-flex align-items-center">
                        <input [id]="key" [(ngModel)]="chemistryData[key]" pInputText class="flex-grow-1 px-2 py-1 input-chemistry" type="number" min="0"
                            step="0.001" (input)="validateInput($event)">
                        <p class="mb-0 label-unit" style="width: 40px; text-align: end;">{{ key === 'vitamin_c' || key === 'caroten' ? 'mg%' : '%' }}</p>
                    </div>
                </div>
            </div>
            <div class="m-4">
                <button type="submit" class="btn btn-success w-100" style="font-weight: 500;" (click)="transferChemistryDataToURL()">Tìm kiếm</button>
            </div>
        </div>
        <!-- button canvas -->
        <button class="btn btn-success d-md-none mb-3 w-auto" style="margin-left: 12px;" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Tìm
            kiếm tương đồng</button>
        <!-- canvas -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasResponsive"
            aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Tìm kiếm tương đồng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="px-4">
                    <p class="mb-2" style="font-size: 11px; color: #007429; font-weight: 500;">*Giá trị là số thập phân > 0</p>
                    <div class="mb-3 d-flex flex-column gap-2" *ngFor="let key of chemistryKeys">
                        <label [for]="key" style="font-weight: 500;">{{ chemistryLabels[key] }}:</label>
                        <div class="d-flex align-items-center">
                            <input [id]="key" [(ngModel)]="chemistryData[key]" pInputText class="flex-grow-1 px-2 py-1 input-chemistry" type="number" min="0"
                                step="0.001" (input)="validateInput($event)">
                            <p class="mb-0 label-unit" style="width: 40px; text-align: end;">{{ key === 'vitamin_c' || key === 'caroten' ? 'mg%' : '%' }}</p>
                        </div>
                    </div>
                </div>
                <div class="m-4">
                    <button type="submit" class="btn btn-success w-100" style="font-weight: 500;" (click)="transferChemistryDataToURL()">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <main class="col-md-8 col-lg-9 ps-md-3">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom justify-content-between pb-3">
                <p style="font-size: 20px; font-weight: 500;" class="mb-0">{{title}} (<span style="color: rgb(10, 147, 76);">{{totalPlants}}</span> cây)</p>
                <div class="sort-options">
                    <select id="sortSelect" class="form-select" (change)="onSortChange($any($event.target).value)">
                        <option value="">--Chọn--</option>
                        <option value="az">Từ A-Z</option>
                        <option value="za">Từ Z-A</option>
                    </select>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4 pt-1">
                <div *ngIf="isLoading">Đang tải dữ liệu...</div>
                <div class="col card-hover"
                    *ngFor="let plant of plants | paginate: { itemsPerPage: 12, currentPage: currentPage }">
                    <a [routerLink]="['/danhsachcaythuoc', plant.id]" class="text-decoration-none">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="{{plant.images[0].url}}"
                                    class="card-img-top rounded-1 card-img-hover" style="object-fit: cover" height="200"
                                    alt="Ảnh cây thuốc">
                                <p class="mt-3 text-main-color mb-1 sience-name-text"
                                    style="font-size: 18px; font-weight: 500;">{{ plant.vietnameseName }}</p>
                                <p class="text-main-color mb-1 sience-name-text">({{ plant.scientificName }})</p>
                                <p class="card-text text-algin">
                                    <span class="text-bold-500"><span class="text-bold-500 text-usage">Công
                                            dụng:</span></span>
                                    {{ plant.summaryEffect }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div *ngIf="!isLoading && plants.length === 0">
                    <p>Không tìm thấy kết quả phù hợp.</p>
                  </div>
            </div>

            <div class="mt-4 d-flex justify-content-end">
                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Trước" nextLabel="Tiếp"
                    [maxSize]="6" [autoHide]="true"></pagination-controls>
            </div>
        </main>
    </div>
</div>
<app-footer/>